---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageHeader from '../../components/PageHeader.astro';
import { getCollection } from 'astro:content';
import * as styles from '../../styles/pages/index.css';

const posts = (await getCollection('posts')).sort(
  (a, b) => (b.data.modified?.valueOf() ?? 0) - (a.data.modified?.valueOf() ?? 0)
);
---

<BaseLayout title="~/posts/">
  <PageHeader title="all posts" />
  <ul class={styles.postList}>
    {posts.map((post) => {
      const date = post.data.modified;
      const formattedDate = date ? `${String(date.getUTCMonth() + 1).padStart(2, '0')} • ${String(date.getUTCDate()).padStart(2, '0')} • ${String(date.getUTCFullYear()).slice(-2)}` : null;
      return (
        <li class={styles.postItem}>
          <div class={styles.postContent}>
            <a href={`/posts/${post.slug}`}>
              <span class={styles.postTitle}>{post.data.title}</span>
            </a>
            {post.data.excerpt && <p class={styles.postExcerpt}>{post.data.excerpt}</p>}
          </div>
          {formattedDate !== null && (
            <time class={styles.postDate} datetime={date?.toISOString()}>
              {formattedDate}
            </time>
          )}
        </li>
      );
    })}
  </ul>
</BaseLayout>
