---
import '../styles/global.css';
import { lightTheme } from '../styles/theme.css';
import * as layout from '../styles/layout.css';
import Navbar from '../components/Navbar.astro';
import ContentCard from '../components/ContentCard.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Gabby Ortman', description = "there's no place like ~/" } = Astro.props;
const canonicalUrl = Astro.url.href;
---

<!DOCTYPE html>
<html lang="en" class={lightTheme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div class={layout.container}>
      <Navbar />
      <ContentCard>
        <slot />
      </ContentCard>
    </div>
  </body>
</html>
