---
import BaseLayout from "./BaseLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import type { CollectionEntry } from "astro:content";
import * as styles from "./PostLayout.css";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { title, modified, headerImage } = post.data;
---

<BaseLayout
  title={`~/posts/${title}`}
  description={post.data.excerpt}
>
  <article class={styles.article}>
    {
      headerImage ? (
        <PostHeader title={title} image={headerImage} date={modified} />
      ) : (
        <header class={styles.postHeader}>
          {modified && (
            <time class={styles.postDate} datetime={modified.toISOString()}>
              {modified.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
                timeZone: "UTC",
              })}
            </time>
          )}
          <h1 class={styles.postTitle}>{title}</h1>
        </header>
      )
    }
    <div>
      <slot />
    </div>
  </article>
</BaseLayout>
